body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    height: 100vh;
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px #0072ff;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.container button {
    background-color: #0072ff;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

.container button:hover {
    opacity: 0.8;
}
html,body{
    background-image: url(background.webp);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .home{
    color: white;
    background-color: #0072ff;
    display: inline-block;
    font-size: 20px;
    
   }
  